# Caminho do arquivo com o modelo de Machine Learning compilado
# Padrão: ARQUIVO_MODELO="novo_modelo.pkl"
# Não precisa alterar
ARQUIVO_MODELO="novo_modelo.pkl"

# ------ PASTAS -----------
# Todas as pastas devem existir

# Pasta de Download do Sistema pra baixar do YouTube
PASTA_DOWNLOAD="/home/USER/Downloads"

# Pasta que será servida com os arquivos do podcast
# OBS: Todos os arquivos da pasta serão públicos
PASTA_SERVER="/home/USER/Downloads/podcasts"

# PASTA para salvar estatisticas e etc...
PASTA_LOG="/home/USER/Downloads/logs"

# -------------------------

# O ideal é o ffmpeg estar no PATH do sistema. Se não estiver, informar o caminho completo abaixo
# ex: "/usr/bin/ffmpeg"
# Tem que ser a versão 3 ou superior! 
FFMPEG_3_PATH="ffmpeg"

# Endereço do servidor na rede. OBS: Configurar o roteador para IP Fixo da Máquina (RaspberryPi)
# SERVER_END="http://fixed_ip_number:port"
SERVER_END="http://192.168.1.106:8000"